@import url('https://fonts.googleapis.com/css?family=Rubik');

.TodoApp {
    background-color: #F5F5F5;
    color: #222;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
