@import url('https://fonts.googleapis.com/css?family=Rubik');

.TodoForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    font-family: 'Rubik', sans-serif;
}

.TodoForm > input {
    margin: 5px 0;
    border-radius: 3px;
    padding: 3px;
}