@import url('https://fonts.googleapis.com/css?family=Rubik');

.TodoList {
    width: 300px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.TodoList>li:hover {
    color: red;
    cursor: pointer;
}